* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
}

/* Left Section */
.left-panel {
  flex: 1;
  color: #ffffff;
  background-color: rgba(139, 21, 56, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.left-panel h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #FFD700;
}

.left-panel p {
  margin-bottom: 30px;
  line-height: 1.5;
}

.info-cards {
  display: grid;
  gap: 15px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Right Section */
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: #ffffff;
}

.welcome {
  font-size: 40px;
  color: #8B1538;
  font-weight: 900;
}

.subtitle {
  margin-bottom: 30px;
  color: #555;
}

label {
  font-weight: 600;
  color: #8B1538;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember label {
  font-size: 14px;
}

.forgot {
  color: #8B1538;
  text-decoration: none;
  font-weight: 600;
}

.signin-btn {
  background-color: #8B1538;
  color: #FFFFFF;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
  background-color: #FFD700;
  color: #8B1538;
}

.or {
  text-align: center;
  margin: 20px 0;
  color: #777;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.google,
.facebook {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.google:hover,
.facebook:hover {
  border-color: #8B1538;
  color: #8B1538;
}

.register {
  text-align: center;
  margin-top: 25px;
}

.register a {
  color: #8B1538;
  font-weight: bold;
  text-decoration: none;
}

.policy {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}

.policy a {
  color: #8B1538;
  text-decoration: none;
}
